.mapContainer {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.mapboxgl {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
}

.marker {
  background: url("@/public/pin.svg");
  width: 50px;
  height: 50px;
  background-size: 100%;
  cursor: pointer;
}

