.subheader {
  margin: 10px 0;
  color: #3c3c3b;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  margin-inline: 30px;
  flex-wrap: wrap;
}

.subtitleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.subtitle {
  font-size: xx-large;
}

.subcounter {
  font-size: small;
  background-color: #bdbdbd;
  padding: 5px 8px;
  border-radius: 20px;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.createBtn {
  background-color: #ffc200;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #3c3c3b;
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 20px;
}

.createBtn span {
  font-size: 25px;
}

.seekerContainer {
  background-color: #fff;
  position: relative;
  width: 250px;
  border-radius: 5px;
}

.seekerInput {
  width: 100%;
  padding: 10px 60px 10px 5px;
  display: block;
  border: #ffdb66 2px solid;
  font-size: 15px;
  border-radius: 5px;
}

.seekerContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 15px 15px;
}

.actionsContainer {
  display: flex;
  gap: 10px;
}

.actionsUL {
  display: flex;
}

.actionsUL li {
  list-style: none;
}

.actionBtn {
  border: none;
  padding: 8px;
  background-color: #fff;
  border: #adadad 1.5px solid;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.actionBtn:not([disabled]):hover {
  transform: translateY(-1px);
}

.actionBtn:disabled {
  border: none;
  background-color: #f0f0f0;
  padding: 8px;
  border: #adadad 1.5px solid;
}

.actionsUL > li:first-child .actionBtn {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.actionsUL > li:last-child .actionBtn {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* Media query */

@media screen and (max-width: 1120px) {
  .seekerContainer {
    width: 110px;
  }
  .seekerInput {
    font-size: 0.8rem;
  }
  .seekerContainer button {
    padding: 13px 10px;
  }
}

@media screen and (max-width: 850px) {
  .createBtn {
    position: fixed;
    border-radius: 100%;
    bottom: 0;
    right: 0;
    margin: 1rem;
    box-shadow: 0px 0px 2px 2px #f0f0f0;
    z-index: 10;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  .subcounter {
    font-size: 0.7rem;
    padding: 2px 5px;
  }
  .subtitleContainer {
    gap: 5px;
  }
  .optionsContainer {
    gap: 5px;
  }
}

@media screen and (max-width: 680px) {
  .subtitle {
    font-size: 1.5rem;
  }
  .subcounter {
    font-size: 0.8rem;
    padding: 0.3rem;
    font-weight: bolder;
  }
  .optionsContainer {
    width: 100%;
  }
  .actionsContainer {
    width: 100%;
    margin-block: 0.4rem;
  }
  .actions {
    display: block;
    width: 100%;
  }
  .actionsUL {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seekerContainer {
    display: block;
    width: 100%;
  }
  .seekerInput {
    font-size: 1rem;
  }
  .seekerContainer button {
    padding: 14px 15px;
  }
  .actionBtn {
    width: 8rem;
    height: 2.4rem;
  }
}
