.metricNumber {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-weight: 600;
  font-size: 16px;
}

.metricLabel {
  font-weight: lighter;
  font-size: 12px;
  color: #6b7280;
}
