@import url("@/ui/css/header.css");
@import url("@/ui/css/subheader.css");
@import url("@/ui/css/map.css");

:root {
  --background: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*
MEDIA QUERIES
*/

@media screen and (max-width: 768px) {
  .spybeeLogo {
    width: 100px;
    height: 50px;
    object-fit: cover;
  }
}

@media screen and (max-width: 481px) {
  .spybeeLogo {
    width: 100px;
    height: 40px;
    object-fit: cover;
  }
}

/* @media screen and (max-width: 525px) {
  .subheader {
    gap: 10px;
  }
  .subtitleContainer {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .optionsContainer {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
} */
