@import url("@/ui/css/header.css");
@import url("@/ui/css/subheader.css");
@import url("@/ui/css/map.css");
@import url("@/ui/css/pagination.css");
@import url("@/ui/css/noData.css");
@import url("@/ui/css/card.css");
@import url("@/ui/css/table.css");
@import url("@/ui/css/summary.css");

:root {
  --background: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "map summary"
  "table summary"
  ;
  margin-block: 20px;
  margin-inline: 30px;
  gap: 1rem;
}
