:root {
  --background: #ededed;
}

@theme inline {
  --color-background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  background-color: #3C3C3B;
  padding-block: 20px;
  padding-inline: 30px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheader {
  margin: 10px 0;
  color: #3C3C3B;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  margin-inline: 30px;
  flex-wrap: wrap;
}

main {
  margin-block: 20px;
  margin-inline: 30px;
}

.subtitleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.subtitle {
  font-size: xx-large;
}

.subcounter {
  font-size: small;
  background-color: #bdbdbd;
  padding: 5px 8px;
  border-radius: 20px;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.createProjectBtn {
  background-color: #FFC200;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #3C3C3B;
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 20px;
}

.createProjectBtn span {
  font-size: 25px;
}

.seekerContainer {
  background-color: white;
  position: relative;
  width: 250px;
  border-radius: 5px; 
}

.seekerContainer input {
  width: 100%;
  padding: 10px 60px 10px 10px;
  display: block;
  border: #ffdb66 2px solid;
  font-size: 15px;
  border-radius: 5px;
}

.seekerContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-weight: lighter;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 15px 15px;
}

.actionsContainer {
  display: flex;
  gap: 10px;
}

.filterBtn {
  border: none;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

.actions {
}

.actionsUL {
  display: flex;
}

.actionsUL li {
  list-style: none;
  
}

.listBtn {
  border: none;
  background-color: white;
  padding: 8px;
  border-start-start-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: #adadad 1.5px solid;
  border-block: #adadad 1.5px solid;
}

.appBtn {
  border: none;
  background-color: white;
  padding: 8px;
  border: #adadad 1.5px solid;
}

.mapBtn {
  border: none;
  background-color: white;
  padding: 8px;
  border-start-end-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: #adadad 1.5px solid;
  border-block: #adadad 1.5px solid;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  color: #3C3C3B;
  font-weight: lighter;
}

tr :nth-child(1) {
  width: 20%;
  text-align: start;
}

tr :nth-child(2) {
  width: 10%;
  text-align: start;
}

tr :nth-child(3) {
  width: 20%;
  text-align: start;
}

tr :nth-child(4) {
  width: 20%;
  text-align: start;
}

tr, th:nth-child(5) {
  width: 100%;
  text-align: start;
}

.item {
  background-color: white;
  padding-block: 10px;
  height: 70px;
}

.item, td {
  vertical-align: middle;
  padding: 0.5em;
}

.tableUL {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 100px;
}