@import url("@/ui/css/header.css");
@import url("@/ui/css/subheader.css");
@import url("@/ui/css/map.css");

:root {
  --background: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*
MEDIA QUERIES
*/

@media screen and (max-width: 875px) {
  .spybeeLogo {
    width: 100px;
    height: 50px;
    object-fit: cover;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  .subcounter {
    font-size: 0.7rem;
    padding: 2px 5px;
  }
  .subtitleContainer {
    gap: 5px;
  }
  .optionsContainer {
    gap: 5px;
  }
  .seekerContainer {
    width: 110px;
  }
  .seekerContainer input {
    font-size: 0.8rem;
  }
  .seekerContainer button {
    padding: 13px 10px;
  }
}

@media screen and (max-width: 580px) {
  .spybeeLogo {
    width: 100px;
    height: 40px;
    object-fit: cover;
  }
  .subtitle {
    font-size: 1rem;
  }
  .subcounter {
    font-size: 0.6rem;
  }
  .seekerContainer {
    width: 100px;
  }
  .seekerContainer input {
    font-size: 0.6rem;
  }
  .seekerContainer button {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 525px) {
  .subheader {
    gap: 10px;
  }
  .subtitleContainer {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .optionsContainer {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
}
