:root {
  --background: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-areas:
    "map summary"
    "table summary";
  margin-block: 20px;
  margin-inline: 30px;
  justify-content: space-between;
  gap: 1rem;
}

.mainContainerTable {
  display: grid;
  grid-template-areas:
    "table summary"
    "table summary";
  margin-block: 20px;
  margin-inline: 30px;
  justify-content: space-between;
  gap: 1rem;
}

.container {
  border-radius: 1rem;
  overflow-x: auto;
  height: 700px;
  scroll-behavior: smooth;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  &::-webkit-scrollbar-thumb {
    background-color: #c8c8d2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.2rem;
  }
}