.cardSummary {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 1px 0px #b9b9b9;
  justify-content: center;
  align-items: center;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.cardHeader span {
  font-size: x-large;
}

.cardHeader p {
  color: #c2c2c2;
}

.circle {
  border-radius: 100%;
  background: conic-gradient(#ef4444 calc(var(--percentage) * 1%), #d9d9d9 0);
  position: relative;
  width: 100px;
  height: 100px;
}

.circle:after {
  inset: 10;
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 100%;
}

.circleCenter {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #6b7280;
  z-index: 1;
}