/* Table */

.tableWrap {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
}

.tableContainer {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.tableContainer th,
.tableContainer td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rowHeader,
.rowHeader th {
  padding: 10px 15px;
  font-size: 14px;
  color: #3c3c3b;
}

.row {
  background-color: #fafafa;
  border-bottom: #ebebf0 0.1rem solid;
  transition: transform 0.2s ease;
}

.rowMap {
  background-color: #fafafa;
  border-bottom: #ebebf0 0.1rem solid;
  transition: transform 0.2s ease;
}

.rowMap:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: #e7e7e7;
}

.projectTitleCol {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.projectTitleHead {
  width: 300px;
  text-align: start;
}

.projectTeamHead {
  width: 300px;
  text-align: center;
}

.projectItemsHead {
  text-align: start;
  width: 250px;
}

.projectHead {
  text-align: start;
  width: 100px;
}

.projectCol {
  padding-block: 1rem;
  font-size: 13px;
}

.dataImage {
  height: 40px;
  width: 40px;
  border-radius: 0.4rem;
  object-fit: scale-down;
}

.dataTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.dataTitle {
  font-size: 16px;
  color: #3c3c3b;
}

.dataSub {
  display: flex;
  font-size: 13px;
  color: #7a7a7a;
  gap: 1rem;
}

.tableItems {
  display: flex;
  list-style: none;
  gap: 20px;
}