.planDataSmallMobile {
  color: #fff;
  background-color: #c35a00;
  padding: 2px 5px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  font-size: small;
}

.planDataPremiumMobile {
  color: #524c3d;
  background-color: #ebb400;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  font-size: small;
}

.planDataAdvancedMobile {
  color: #fff;
  background-color: #7d7d7d;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  font-size: small;
  width: fit-content;
  text-align: center;
}

.statusActiveMobile {
  color: #3b9755;
  background-color: #dcf0dc;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  font-size: small;
}

.statusInactiveMobile {
  color: #fffefb;
  background-color: #fac30f;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  font-size: small;
}

.statusPendedMobile {
  color: #f0f0f0;
  background-color: #bebebe;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  font-size: small;
}

.statusSuspendedMobile {
  color: #ffffff;
  background-color: #d90429;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  font-size: small;
}
