.mapContainer {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.mapboxgl {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
}

.marker {
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
