.mapContainer {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.mapboxgl {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
}

.marker {
  width: 32px;
  height: 32px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.popup .mapboxgl-popup-content {
  background: #181C11;
  color: #fff;
  margin-bottom: 2.5rem;
  height: 40px;
  opacity: 0.8;
}

.popup .mapboxgl-popup-content strong {
  opacity: 1;
  font-size: 0.8rem;
  font-weight: bolder;
}

.popup .mapboxgl-popup-tip {
  border: none;
}