/* Pagination Stles */
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin: auto;
  padding: 1rem 0;
}

.paginationLI {
  list-style: none;
}

.paginationBtn {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #3c3c3b;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow .2s ease, transform .2s ease;
}

.paginationBtn:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, .08);
    transform: translateY(-2px);
}