/* Summary */

.summaryContainer {
  width: 500px;
  background: #fff;
  padding: 1rem;
}

.summaryDropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summaryDropdownBtnContainer {
  background-color: #fff;
  padding: 0.8rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 0.5rem;
  right: -2;
  top: 10rem;
  transition: transform 0.2s ease;
  box-shadow: 1px 1px 1px 1px #f0f0f0;
}

.arrowBtnContainer {
  background-color: #ffffff;
  padding: 0.3rem 0.5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100%;
  right: 40;
  top: 11rem;
  transition: transform 0.2s ease;
  z-index: 10;
  box-shadow: 1px 1px 1px 1px #f0f0f0;
}

.arrowBtnContainer:hover {
  transform: translateX(-4px);
}

.summaryBtns {
  border: none;
  background: transparent;
  cursor: pointer;
}

.presentationIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.summaryHeader {
  display: flex;
  gap: 5px;
  padding-bottom: 1rem;
}

.summaryHeader h4 {
  font-size: larger;
  font-weight: lighter;
  color: #414146;
}

.viewsContainer {
  padding: 0rem 0.5rem 0rem 0rem;
  border-bottom: 1px solid #f1f1f5;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.generalContainer {
  border-bottom: 1px solid #fac30f;
  padding: 0.7rem 0rem 0.5rem 0rem;
}

.updatesContainer {
  padding: 0.7rem 0rem 0.5rem 0rem;
}

.filterContainerSummary {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.7rem;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.viewText {
  text-wrap: nowrap;
  font-size: 1.2rem;
  color: #77777c;
}

.summaryBody {
  padding: 0.8rem 0rem 1rem 0rem;
}

.summaryHeaderBody {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.HeaderBodyLargeText {
  font-size: 1.4rem;
  font-weight: bold;
  text-wrap: nowrap;
}

.seeAllText {
  font-size: large;
  color: #0f85fa;
  width: 100%;
  text-align: end;
}

.cardSummary {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 1px 0px #b9b9b9;
  justify-content: center;
  align-items: center;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.cardHeader span {
  font-size: x-large;
}

.cardHeader p {
  color: #c2c2c2;
}

.circle {
  border-radius: 100%;
  background: conic-gradient(#ef4444 calc(var(--percentage) * 1%), #d9d9d9 0);
  position: relative;
  width: 100px;
  height: 100px;
}

.circle:after {
  inset: 10;
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 100%;
}

.circle-center {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #6b7280;
  z-index: 1;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
  width: 100%;
}

.summarytableContainer {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  padding-bottom: 2rem;
}

.tableContainerSummary {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border-radius: 1rem;
  background: #fafafa;
}

.tableContainerSummary th,
.tableContainerSummary td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tableText {
  font-size: 1rem;
  color: #6b7280;
  text-align: start;
  padding: 0.6rem;
}

.firstTh {
  width: 100px;
}

.secondTh {
  width: 40px;
}

.thirdTh {
  width: 40px;
}

.dateText {
  font-weight: bold;
}

.dateTableSummary {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.dateTableSummary span {
  display: flex;
  justify-content: start;
  align-items: center;
}

.dividerTableSummary {
  border-bottom: 1px solid #d4d4d4;
}

.tableFirstCol p {
  font-weight: bold;
}

.tableFirstCol span {
  font-size: 15px;
}
