/* Table */

.tableSection {
  overflow-y: auto;
  height: 700px;
  scroll-behavior: smooth;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  &::-webkit-scrollbar-thumb {
    background-color: #c8c8d2;
    border-radius: 15px;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
  }
}

.tableWrap {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
}

.tableContainer {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.tableContainer th,
.tableContainer td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rowHeader,
.rowHeader th {
  padding: 10px 15px;
  text-align: start;
  font-size: 14px;
  color: #3c3c3b;
}

.row {
  background-color: #FAFAFA;
  border-bottom: #ebebf0 0.1rem solid;
}

.projectTitleCol {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.projectTitleHead {
  width: 250px;
}

.projectTeamHead {
  width: 300px;
  text-align: center;
}

.projectItemsHead {
  width: 250px;
}

.projectHead {
  width: 100px;
}

.projectCol {
  padding-block: 1rem;
  font-size: 13px;
}

.dataImage {
  height: 40px;
  width: 40px;
  border-radius: 0.4rem;
  object-fit: scale-down;
}

.dataTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.dataTitle {
  font-size: 16px;
  color: #3c3c3b;
}

.dataSub {
  display: flex;
  font-size: 13px;
  color: #7a7a7a;
  gap: 1rem;
}

.plan {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

.planMobile {
  color: #fff;
  padding: 3px 6px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  font-size: small;
}

.status {
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.statusMobile {
  padding: 3px 5px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  font-size: small;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex-wrapper {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding: 5px;
  box-sizing: border-box;
  height: 2.2rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  align-items: center;
  font-size: 0.7rem;
  font-weight: bolder;
}

.hex-wrapper:not(:first-child) {
  margin-left: -6px;
}

.hex-wrapper:nth-child(5n + 1) {
  background: #fff5d7;
}

.hex-wrapper:nth-child(5n + 2) {
  background: #ffebaf;
}
.hex-wrapper:nth-child(5n + 3) {
  background: #fad75f;
}
.hex-wrapper:nth-child(5n + 4) {
  background: #fac30f;
}
.hex-wrapper:nth-child(5n) {
  background: #ebb400;
}

.tableItems {
  display: flex;
  list-style: none;
  gap: 20px;
}

.metricNumber {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-weight: 600;
  font-size: 16px;
}

.metricLabel {
  font-weight: lighter;
  font-size: 12px;
  color: #6b7280;
}
