/* Table */

.tableSection {
  width: 100%;
  overflow-x: auto;
  height: 650px;
  scroll-behavior: smooth;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  &::-webkit-scrollbar-thumb {
    background-color: #c8c8d2;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.2rem;
  }
}

.tableContainer {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-weight: lighter;
  background-color: #f5f5f5 !important;
}

tr,
th {
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: start;
  font-size: 14px;
  color: #3c3c3b;
}

.row {
  background-color: #fff;
  border-bottom: #ebebf0 0.1rem solid;
}

.row,
td {
  vertical-align: middle;
  padding: 20px 30px;
  font-size: 13px;
}

.dataProject {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.dataPlan {
  width: 10%;
}

.dataStatus {
  width: 25%;
}

.dataTeam {
  width: 20%;
}

.dataItems {
  width: 25%;
}

.dataImage {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: scale-down;
}

.dataTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dataTitle {
  font-size: 15px;
  color: #3c3c3b;
}

.dataSub {
  display: flex;
  font-size: 11px;
  gap: 5px;
  color: #7a7a7a;
}

.planDataSmall {
  color: #fff;
  background-color: #c35a00;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

.planDataPremium {
  color: #524c3d;
  background-color: #ebb400;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}

.planDataAdvanced {
  color: #fff;
  background-color: #7d7d7d;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.statusActive {
  color: #3b9755;
  background-color: #dcf0dc;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.statusInactive {
  color: #fffefb;
  background-color: #fac30f;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.statusPended {
  color: #f0f0f0;
  background-color: #bebebe;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.statusSuspended {
  color: #ffffff;
  background-color: #d90429;
  padding: 5px 10px;
  border-radius: 5em;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

.avatarContainer {
  display: flex;
  flex: 1;
}

.hex-wrapper {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding: 5px;
  box-sizing: border-box;
  height: 2.2rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  align-items: center;
  font-size: 0.7rem;
  font-weight: bolder;
}

.hex-wrapper:not(:first-child) {
  margin-left: -6px;
}

.hex-wrapper:nth-child(5n + 1) {
  background: #fff5d7;
}

.hex-wrapper:nth-child(5n + 2) {
  background: #ffebaf;
}
.hex-wrapper:nth-child(5n + 3) {
  background: #fad75f;
}
.hex-wrapper:nth-child(5n + 4) {
  background: #fac30f;
}
.hex-wrapper:nth-child(5n) {
  background: #ebb400;
}

.tableItems {
  margin: 0;
  padding: 0 0 0 15px;
  display: flex;
  list-style: none;
  gap: 20px;
}

.metricNumber {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-weight: 600;
  font-size: 16px;
}

.metricLabel {
  font-weight: lighter;
  font-size: 12px;
  color: #6b7280;
}

/* Pagination Stles */

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin: auto;
  background-color: #fff;
  padding: 1rem 0;
}

.paginationLI {
  list-style: none;
}

.paginationBtn {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #3c3c3b;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow .2s ease, transform .2s ease;
}

.paginationBtn:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, .08);
    transform: translateY(-2px);
}
